# macOS
.DS_Store

# Xcode
*.xcuserstate
*.xcworkspace
DerivedData/
build/
AeroLog.xcodeproj/project.xcworkspace/xcuserdata/yuhanchang.xcuserdatad/UserInterfaceState.xcuserstate
AeroLog.xcodeproj/xcuserdata/yuhanchang.xcuserdatad/xcschemes/xcschememanagement.plist
AeroLog.xcodeproj/xcuserdata/yuhanchang.xcuserdatad/xcschemes/xcschememanagement.plist
