<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location to provide continuous flight assistance.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show airport weather and maps.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AeroLog Flight File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yuhanchang.aerolog.flight</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModePedestrian</string>
		<string>MKDirectionsModePlane</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AeroLog Flight File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yuhanchang.aerolog.flight</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flight</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
